.cartList{
  display: flex;
  align-items: start;
}
.cartList span{
  display: inline-block;
  width: 13px;
  height: 13px;
  text-align: center;
  font-size: 10px;
  background-color: blue;
  border-radius: 50%;
  color: white;

}

.itemList {
  height: calc(100vh - 56px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/img2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backface-visibility:visible;
}
.itemList p{
  color: rgb(175, 175, 175);
  background-color: rgba(0, 0, 0, 0.466);
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
  padding: 4px 6px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
